@page "/Component"
@using Microsoft.EntityFrameworkCore
@using CarReduserBlazer.Data

@inject AppDbContext DbContext


@* <PageTitle>Tables Excel</PageTitle>

<IgbDataGrid Height="500px" Width="300" DataSource="@RemoteJson.WithUri("https://excel2json.io/api/share/6e0f06b3-72d3-4fec-7984-08da43f56bb9")">
</IgbDataGrid> *@
<head>
    <meta charset="UTF-8">
    <title>Заголовок</title>
    <link rel="stylesheet" href="login.css" />
</head>

<body>
    Содержимое страницы

    <p>Решите пример: 2 + x<sup>2</sup> = 6</p>
    <div class="grid-1">
        <div class="grid-1-col  bg-green">С другой стороны, мы с праведным негодованием осуждаем и не любим людей, которые настолько обмануты и деморализованы прелестями сиюминутного удовольствия, настолько ослеплены желанием, что не могут предвидеть боль и неприятности, которые неизбежно последуют; и такая же вина лежит на тех, кто не выполняет свой долг из-за слабости воли, что равносильно уклонению от тяжелого труда и боли. Эти случаи совершенно просты, и их легко отличить. В свободный час, когда наша свобода выбора ничем не ограничена и когда ничто не мешает нам заниматься тем, что нам больше всего нравится, следует приветствовать любое удовольствие и избегать любой боли. Но при определенных обстоятельствах и из-за требований долга или деловых обязательств часто случается так, что приходится отказываться от удовольствий и принимать неприятности. Поэтому мудрый человек всегда придерживается в этих вопросах этого принципа выбора: он отвергает удовольствия, чтобы получить другие, более великие удовольствия, или же он терпит страдания, чтобы избежать худших страданий ".</div>
        <div class="grid-1-col  bg-red">С другой стороны, мы с праведным негодованием осуждаем и не любим людей, которые настолько обмануты и деморализованы прелестями сиюминутного удовольствия, настолько ослеплены желанием, что не могут предвидеть боль и неприятности, которые неизбежно последуют; и такая же вина лежит на тех, кто не выполняет свой долг из-за слабости воли, что равносильно уклонению от тяжелого труда и боли. Эти случаи совершенно просты, и их легко отличить. В свободный час, когда наша свобода выбора ничем не ограничена и когда ничто не мешает нам заниматься тем, что нам больше всего нравится, следует приветствовать любое удовольствие и избегать любой боли. Но при определенных обстоятельствах и из-за требований долга или деловых обязательств часто случается так, что приходится отказываться от удовольствий и принимать неприятности. Поэтому мудрый человек всегда придерживается в этих вопросах этого принципа выбора: он отвергает удовольствия, чтобы получить другие, более великие удовольствия, или же он терпит страдания, чтобы избежать худших страданий ".</div>
        <div class="grid-1-col  bg-green">С другой стороны, мы с праведным негодованием осуждаем и не любим людей, которые настолько обмануты и деморализованы прелестями сиюминутного удовольствия, настолько ослеплены желанием, что не могут предвидеть боль и неприятности, которые неизбежно последуют; и такая же вина лежит на тех, кто не выполняет свой долг из-за слабости воли, что равносильно уклонению от тяжелого труда и боли. Эти случаи совершенно просты, и их легко отличить. В свободный час, когда наша свобода выбора ничем не ограничена и когда ничто не мешает нам заниматься тем, что нам больше всего нравится, следует приветствовать любое удовольствие и избегать любой боли. Но при определенных обстоятельствах и из-за требований долга или деловых обязательств часто случается так, что приходится отказываться от удовольствий и принимать неприятности. Поэтому мудрый человек всегда придерживается в этих вопросах этого принципа выбора: он отвергает удовольствия, чтобы получить другие, более великие удовольствия, или же он терпит страдания, чтобы избежать худших страданий ".</div>
        <div class="grid-1-col  bg-red">С другой стороны, мы с праведным негодованием осуждаем и не любим людей, которые настолько обмануты и деморализованы прелестями сиюминутного удовольствия, настолько ослеплены желанием, что не могут предвидеть боль и неприятности, которые неизбежно последуют; и такая же вина лежит на тех, кто не выполняет свой долг из-за слабости воли, что равносильно уклонению от тяжелого труда и боли. Эти случаи совершенно просты, и их легко отличить. В свободный час, когда наша свобода выбора ничем не ограничена и когда ничто не мешает нам заниматься тем, что нам больше всего нравится, следует приветствовать любое удовольствие и избегать любой боли. Но при определенных обстоятельствах и из-за требований долга или деловых обязательств часто случается так, что приходится отказываться от удовольствий и принимать неприятности. Поэтому мудрый человек всегда придерживается в этих вопросах этого принципа выбора: он отвергает удовольствия, чтобы получить другие, более великие удовольствия, или же он терпит страдания, чтобы избежать худших страданий ".</div>
    </div>

    <style>
        .grid-1 {
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 45 px;
            grid-gap: 30px 15px;
        }

        .grid-1-col {
            padding: 1rem;
        }
    </style>
</body>




@code {
    public List<Reducer> Reducers;
    protected override void OnInitialized()
    {
        Reducers = DbContext.Reducers.ToList();
    }

}
