@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Blazor App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/add-reducer">Таблица редукторов4</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Component">Таблица редукторов3</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/reducer-table">Таблица редукторов2</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/material-selection">График редукторов</NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/reducer-tables">Таблица редукторов</NavLink>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Дополнительно
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><NavLink class="dropdown-item" href="#">Подменю 1</NavLink></li>
                        <li><NavLink class="dropdown-item" href="#">Подменю 2</NavLink></li>
                        <li><NavLink class="dropdown-item" href="#">Подменю 3</NavLink></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
}
